<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.bihstudio.uvindex.UVIndexApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.UVIndex">

        <!-- AdMob App ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${admobAppId}" />

        <!-- Disable AdMob auto-init for manual init -->
        <meta-data
            android:name="com.google.android.gms.ads.DELAY_APP_MEASUREMENT_INIT"
            android:value="true" />

        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/gma_ad_services_config"
            tools:replace="android:resource" />

        <activity
            android:name="com.bihstudio.uvindex.presentation.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.UVIndex.SplashScreen" />

        <!-- Launcher Aliases - Absolute names for reliability -->
        <activity-alias
            android:name="com.bihstudio.uvindex.presentation.MainActivityDefault"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:targetActivity="com.bihstudio.uvindex.presentation.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:name="com.bihstudio.uvindex.presentation.MainActivityUv0" android:enabled="false" android:exported="true" android:icon="@drawable/ic_uv_launcher_0" android:label="UV 0" android:roundIcon="@drawable/ic_uv_launcher_0" android:targetActivity="com.bihstudio.uvindex.presentation.MainActivity"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter></activity-alias>
        <activity-alias android:name="com.bihstudio.uvindex.presentation.MainActivityUv1" android:enabled="false" android:exported="true" android:icon="@drawable/ic_uv_launcher_1" android:label="UV 1" android:roundIcon="@drawable/ic_uv_launcher_1" android:targetActivity="com.bihstudio.uvindex.presentation.MainActivity"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter></activity-alias>
        <activity-alias android:name="com.bihstudio.uvindex.presentation.MainActivityUv2" android:enabled="false" android:exported="true" android:icon="@drawable/ic_uv_launcher_2" android:label="UV 2" android:roundIcon="@drawable/ic_uv_launcher_2" android:targetActivity="com.bihstudio.uvindex.presentation.MainActivity"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter></activity-alias>
        <activity-alias android:name="com.bihstudio.uvindex.presentation.MainActivityUv3" android:enabled="false" android:exported="true" android:icon="@drawable/ic_uv_launcher_3" android:label="UV 3" android:roundIcon="@drawable/ic_uv_launcher_3" android:targetActivity="com.bihstudio.uvindex.presentation.MainActivity"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter></activity-alias>
        <activity-alias android:name="com.bihstudio.uvindex.presentation.MainActivityUv4" android:enabled="false" android:exported="true" android:icon="@drawable/ic_uv_launcher_4" android:label="UV 4" android:roundIcon="@drawable/ic_uv_launcher_4" android:targetActivity="com.bihstudio.uvindex.presentation.MainActivity"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter></activity-alias>
        <activity-alias android:name="com.bihstudio.uvindex.presentation.MainActivityUv5" android:enabled="false" android:exported="true" android:icon="@drawable/ic_uv_launcher_5" android:label="UV 5" android:roundIcon="@drawable/ic_uv_launcher_5" android:targetActivity="com.bihstudio.uvindex.presentation.MainActivity"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter></activity-alias>
        <activity-alias android:name="com.bihstudio.uvindex.presentation.MainActivityUv6" android:enabled="false" android:exported="true" android:icon="@drawable/ic_uv_launcher_6" android:label="UV 6" android:roundIcon="@drawable/ic_uv_launcher_6" android:targetActivity="com.bihstudio.uvindex.presentation.MainActivity"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter></activity-alias>
        <activity-alias android:name="com.bihstudio.uvindex.presentation.MainActivityUv7" android:enabled="false" android:exported="true" android:icon="@drawable/ic_uv_launcher_7" android:label="UV 7" android:roundIcon="@drawable/ic_uv_launcher_7" android:targetActivity="com.bihstudio.uvindex.presentation.MainActivity"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter></activity-alias>
        <activity-alias android:name="com.bihstudio.uvindex.presentation.MainActivityUv8" android:enabled="false" android:exported="true" android:icon="@drawable/ic_uv_launcher_8" android:label="UV 8" android:roundIcon="@drawable/ic_uv_launcher_8" android:targetActivity="com.bihstudio.uvindex.presentation.MainActivity"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter></activity-alias>
        <activity-alias android:name="com.bihstudio.uvindex.presentation.MainActivityUv9" android:enabled="false" android:exported="true" android:icon="@drawable/ic_uv_launcher_9" android:label="UV 9" android:roundIcon="@drawable/ic_uv_launcher_9" android:targetActivity="com.bihstudio.uvindex.presentation.MainActivity"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter></activity-alias>
        <activity-alias android:name="com.bihstudio.uvindex.presentation.MainActivityUv10" android:enabled="false" android:exported="true" android:icon="@drawable/ic_uv_launcher_10" android:label="UV 10" android:roundIcon="@drawable/ic_uv_launcher_10" android:targetActivity="com.bihstudio.uvindex.presentation.MainActivity"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter></activity-alias>
        <activity-alias android:name="com.bihstudio.uvindex.presentation.MainActivityUv11" android:enabled="false" android:exported="true" android:icon="@drawable/ic_uv_launcher_11" android:label="UV 11" android:roundIcon="@drawable/ic_uv_launcher_11" android:targetActivity="com.bihstudio.uvindex.presentation.MainActivity"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter></activity-alias>
        <activity-alias android:name="com.bihstudio.uvindex.presentation.MainActivityUv12" android:enabled="false" android:exported="true" android:icon="@drawable/ic_uv_launcher_12" android:label="UV 12" android:roundIcon="@drawable/ic_uv_launcher_12" android:targetActivity="com.bihstudio.uvindex.presentation.MainActivity"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter></activity-alias>

        <!-- Disable default WorkManager initializer for Hilt -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <!-- Notification channel receiver -->
        <receiver
            android:name="com.bihstudio.uvindex.service.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.bihstudio.uvindex.widget.UVIndexWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.bihstudio.uvindex.widget.REFRESH" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/uv_index_widget_info" />
        </receiver>

    </application>

</manifest>
